{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>WeatherApp</title>
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">    </head> -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">   
    </head>
    <body>
        <div class="research">
            <h1>Weather in your city</h1>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.name}}
            <input type="submit" value="Search">
            {% if message%}
            <div class="notification {{message_class}}">{{message}}</div>
            {% endif%}
            </form>
        </div>

        {% for city_weather in weather_data %}
        <div class="card">
            <img src="http://openweathermap.org/img/wn/{{city_weather.icon}}.png" alt="image">
            <p>
                <span>{{city_weather.city}}</span>
                <span>{{city_weather.temperature}}</span><br>
                <span>{{city_weather.description}}</span>
            </p>
            
            <a href="{% url 'delete' city_weather.city %}">
                <button class='delete'>supprimer</button>
            </a>
        </div>
        
        {% endfor %}
        
    </body>
</html>